@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --errorColor: #f00e0e;
  --validColor: #0add0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: rgb(185, 99, 99)
}

#root {
  height: 100%;
}

.container {
  /* margin: auto; */
  /* margin-top: 30px; */
  /* max-width: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hide {
  display: none !important;
}

h1 {
   margin-bottom: 30px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid burlywood;
  background-color: white;
  height: 60%;
  width: 50%;
  min-width: 550px;
  border-radius: 5px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}


label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  height: 40px;
  padding: 0 5px;
  font-size: 1rem;
}

#file {
  /* display: flex;
  justify-content: center; */
  padding: 10px 0;
}

.submit-btn {
  grid-column: 1 / span 2;
  width: 100%;
  margin: 0 auto;
  background-color:burlywood;
  border: none;
  cursor: pointer;
}

/* Form Validation */

.form-validation {
}

.form-validation.error input {
  border: 1px solid var(--errorColor);
  border-radius: 2px;
}

.form-validation.valid input {
  border: 1px solid var(--validColor);
  border-radius: 2px;
}

.form-validation p {
  font-size: 0.8rem;
  display: none;
  color: var(--errorColor);
}

.form-validation.error p {
  display: block;
}

.form-validation.valid p {
  display: none;
}